<h1>Categoria</h1>
<div>
  <%= link_to "New categorium", new_categorium_path %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%@categoria.each do |categorium|%>
        <tr>
          <td scope="col"><%= categorium.name%></td>
          <td scope="row">
            <div class="d-grid gap-2 d-md-block">
              <%= button_to edit_categorium_path(categorium), class:"btn btn-link" do%>
                <i class="fa-solid fa-pen-to-square"></i>
              <%end%>
              <%= button_to  categorium, class:"btn btn-link" do %>
                <i class="fa-sharp fa-solid fa-eye"></i>
              <%end%>
              <%= button_to  @categorium, method: :delete, class:"btn btn-link" do %>
                <i class="fa-solid fa-trash"></i>
              <%end%>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
