 <% if @posts.present? %>
  <% @posts.each do |post| %>
    <article class="blog-post">
      <h2 class="blog-post-title mb-1"><%= post.titulo%></h2>
      <p class="blog-post-meta"><%= date_time(post.created_at)%> <a href="#"></a></p>
      <p>
        <%=post.Descricao %>
      </p>
    </article>
    <div class="d-grid gap-2 d-md-block"> <%= link_to  post_path(post.id),  data: { confirm: 'Confirmar?', turbo_method: :delete, } do %>
        <i class="fa-sharp fa-solid fa-trash"></i>
      <% end %>
      <%= link_to post_path(post.id) do %>
        <i class="fa-sharp fa-solid fa-pen-to-square"></i>
      <%end%>
    </div>
  <% end %>
<% end %>
