<div class="container">
  <div class="row justify-content-center">
  </div>
  <br>
  <br>
  <hr>
  <%=render 'posts/longer_featured'%>
  <div class="row mb-2">
    <%= render 'posts/medium_card'%>
    <%= render 'posts/medium_card2'%>
  </div>
  <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
      </h3>
      <%= render 'posts/articles'%>
      <%= render 'posts/pagination'%>
    </div>
    <%= render 'right_side'%>
  </div>
</div>
